[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
v = {editable = true,version = "*"}

[packages]
matplotlib = "==3.0.2"
numpy = "==1.15.4"
opencv-python = "==3.4.3.18"
pandas = "==0.23.4"
scipy = "==1.1.0"
Pillow = "==5.3.0"
openpyxl = "*"

[requires]
python_version = "3.7.0"

[pipenv]
allow_prereleases = true
